In [1]:
import pandas as pd

In [5]:
customers = pd.read_csv("../csv_files/customers.csv")
products = pd.read_csv("../csv_files/products.csv")
transactions = pd.read_csv("../csv_files/transactions.csv")

In [6]:
df = transactions.merge(customers, on='customer_id')

In [7]:
df = df.merge(products, on='product_id')

In [8]:
location_product_counts = df.groupby(['location', 'product_id'])['transaction_id'].count().reset_index()

In [10]:
location_product_counts.columns = ['location', 'product_id', 'purchase_count']

In [11]:
location_product_counts = location_product_counts.merge(products[['product_id', 'name']], on='product_id')

In [12]:
def recommend_products_by_location(location, top_n=5):
    recommendations = location_product_counts[location_product_counts['location'] == location]
    recommendations = recommendations.sort_values(by='purchase_count', ascending=False)
    return recommendations[['product_id', 'name']].head(top_n)

In [18]:
recommend_products_by_location("Sambhal", top_n=5)

     product_id             name
431           3   Smartwatch 169
432         115       Tablet 494
433         190  LED Monitor 949

In [19]:
import pickle

In [20]:
with open('location_product_counts.pkl', 'wb') as f:
    pickle.dump(location_product_counts, f)